*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.card1{
    background-color: green;
    width: 400px;
    margin:auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}
.card1 .cardimage1{
    width:400px;
    height:200px;
    background-color: blue;
}
.card1 .cardimage1 img{
    width:400px;
    height:200px;
    object-fit: cover;
}
.card1 .cardTitle1{
    width:100%;
    padding:20px;
}
.card1 .cardTitle1 h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: antiquewhite;
}
.card1 .cardTitle1 p{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 12px 0;
    color: antiquewhite;
}
.card1 .cardTitle1 .btn1{
    text-align: center;
}
.card1 .cardTitle1 .btn1 button{
    padding: 12px 32px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: green;
    cursor: pointer;
    transition: all 0.3s;
}
.card1 .cardTitle1 .btn1 button:hover{
    background-color: darkolivegreen;
    color: greenyellow;
}

.card2{
    background-color: darkred;
    width: 400px;
    margin:auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card2 .cardimage2{
    width:400px;
    height:200px;
    background-color: blue;
}
.card2 .cardimage2 img{
    width:400px;
    height:200px;
    object-fit: cover;
}
.card2 .cardTitle2{
    width:100%;
    padding:20px;
}
.card2 .cardTitle2 h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: antiquewhite;
}
.card2 .cardTitle2 p{
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin: 12px 0;
    color: antiquewhite;
}
.card2 .cardTitle2 .btn2{
    text-align: center;
}
.card2 .cardTitle2 .btn2 button{
    padding: 12px 32px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: red;
    cursor: pointer;
    transition: all 0.3s;
}
.card2 .cardTitle2 .btn2 button:hover{
    background-color: red;
    color: white;
}